<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000000</particles>
  <batches>1015</batches>
  <inactive>15</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>30.0 -5.0 -5.0 70.0 5.0 5.0</parameters>
    </space>
  </source>
  <energy_mode>multi-group</energy_mode>
</settings>
